<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF=8">
		<meta gttp-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-state=1.0">
		<title>Essay Grader</title>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<form hx-post="/submit" hx-swap="afterend" hx-indicator="#spinner">
		<article>
			<h2>Hello young sire submit thine essay</h2>
			<input required name="name" placeholder="Name"></input><br/>
			<textarea required  name="essay" placeholder="Type your essay here" rows="10" cols="60"></textarea><br/>
			<button type="submit">Submit</button>
			<img id='spinner' class="htmx-indicator" src='https://i.imgur.com/6zlzWMI.gif'/>
		</article>
		<h2>Past Essays:</h2>
		</form>
	</body>
</html>
