<style>
p {
  max-height: 150px;
  overflow: scroll;
}
table {
  max-height: 300px;
  overflow: scroll;
}
</style>
<hr/>
<article>

<p><%= locals.essay %></p>
<h3><%= locals.name %>'s score is <%= locals.score %></h3>

<table>
	<tr>
		<th>Reason</th>
		<th>Penalty</th>
	</tr>
<% for (var i = 0; i < locals.why.length; i++) { %>
	<tr>
<% for (var j = 0; j < locals.why[i].length; j++) { %>
		<th><%= why[i][j] %></th>
<% } %>
	</tr>
<% } %>
</table>

</article>
