img {
	height:30px;
	margin:0 auto
}

table {
  max-height: 300px;
  overflow: scroll;
}

grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* popup: */
#wrapper {
	text-align: center;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;
}
.overlay .cancel {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	cursor: default;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 75px auto;
	padding: 20px;
	background: #000;
	border: 1px solid #666;
	width: 70%;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	position: relative;
}
.popup .close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 20px;
	opacity: 0.8;
	transition: all 200ms;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #666;
}
.popup .close:hover {
	opacity: 1;
}
.popup .content {
	max-height: 100%;
	overflow: auto;
}
.popup p {
	max-height: 100%;
	margin: 0 0 1em;
}
.popup p:last-child {
	margin: 0;
}
.popup h2 {
	margin: 0 0 1em;
}
